body {
    background-color: #000;
    color: #fff;
    font: 1em sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: cyan;
    transition: 200ms;
}

a:hover {
    color: cornflowerblue;
}

a:visited {
    color: magenta;
}

a:visited:hover {
    color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p {
    color: #fff;
}
