{% extends "base.html" %}

{% block title %} Ver Pedidos {% endblock %}

{% block content %}

<div class="nav-bar">
    <a href="{{ url_for('index') }}" class="btn">&lt;-Inicio</a>
    <div style="margin-left: auto;">
    {% if PAGE > 1 %}
        <a href="{{ url_for('ver_pedidos', page=PAGE-1) }}" class="btn">Anterior</a>
    {% else %}
        <a href="{{ url_for('ver_pedidos', page=PAGE) }}" class="btn-disabled">Anterior</a>
    {% endif %}
    {% if PAGE < TOTAL_PAGES %}
        <a href="{{ url_for('ver_pedidos', page=PAGE+1) }}" class="btn">Siguiente</a>
    {% else %}
        <a href="{{ url_for('ver_pedidos', page=PAGE) }}" class="btn-disabled">Siguiente</a>
    {% endif %}
    </div>
</div>
<h1>Ver Pedidos</h1>
<p style="margin:auto;text-align: center;">Página: {{PAGE}}</p>
<table id="pedidos" class="productos-table">
    <tr>
        <th>Tipo:</th>
        <th>Producto(s):</th>
        <th>Región:</th>
        <th>Comuna:</th>
        <th>Nombre comprador:</th>
    </tr>
{% for pedido in data %}
    <tr onclick="window.location.href='{{ url_for('informacion_pedido', id=pedido.id) }}'">
        <td>{{pedido.tipo}}</td>
        <td>{% for vegetal in pedido.productos %} {{vegetal}} {% endfor %} </td>
        <td>{{pedido.region}}</td>
        <td>{{pedido.comuna}}</td>
        <td>{{pedido.comprador}}</td>
    </tr>
{% endfor %}

</table>
<br><br>

{% endblock %}

{% block javascript %}

{% endblock %}